body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 15px;
}
h2 {
  color: white;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 20px 30px 20px 30px;
  font-weight: bold;
}
h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 34px;
  margin: 15px;
  text-decoration: underline 3px solid;
}
h4 {
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 20px;
  font-weight: regular;
  color: rgb(80, 80, 80);
}
h5 {
  margin-top: 70px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}
h6 {
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  margin-top: 20px;
}
h7 {
  color: #000000;
  font-weight: bold;
  align-items: center;
  letter-spacing: 1px;
}

.post a {
  text-decoration: none;
  color: #204e82;
  
}


.post p {
  font-size: 20px;
  color: rgb(155, 154, 154);
}
